<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect">
<head>
<meta charset="UTF-8">
<title>Cadastro Clientes</title>
</head>
<body>

<h1>Cadastro de Clientes</h1>
<form action="" method="post">
Nome: <input type="text" value="" name="nome" />
CNPJ: <input type="text" value="" name="cnpj" />
Sócio: <input type="text" value="" name="socio" />
CPF: <input type="text" value="" name="cpf" />
Telefone: <input type="text" value="" name="telefone" />
Email: <input type="text" value="" name="email" />

<button type="submit">Salvar</button>

</form>

</body>
</html>